@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  --desktop-width: 1440px;
  --mobile-width: 375px;
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --dark-blue: hsl(229, 31%, 21%);
  --size: 18px;
  --light: 400;
  --bold: 500;
}

nav {
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo span {
  text-transform: uppercase;
  color: var(--dark-blue);
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 3rem;
  margin: 0;
}

.menu-list li {
  text-transform: uppercase;
  color: var(--dark-blue);
  letter-spacing: 1px;
  font-size: 12px;
  cursor: pointer;
}

.menu-list li:hover {
  color: var(--soft-red);
  transition-duration: 300ms;
}

.menu-list li a {
  color: white;
  font-weight: var(--bold);
  border: 2px solid var(--soft-red);
  text-decoration: none;
  padding: 0.5rem 1.8rem;
  border-radius: 0.3rem;
  background-color: var(--soft-red);
  box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.2);
}

.menu-list li a:hover {
  background-color: white;
  color: var(--soft-red);
  transition-duration: 300ms;
}

#hero {
  max-width: var(--desktop-width);
  margin: 3rem auto 2rem;
  padding: 0 0 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.text-bx {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3.5rem;
}

.title span {
  color: var(--dark-blue);
  font-size: 3rem;
  font-weight: var(--bold);
}

.desc {
  width: 90%;
}

.desc p {
  color: var(--grayish-blue);
  font-weight: var(--light);
  font-size: var(--size);
  line-height: 1.8rem;
}

.btn-bx {
  margin-top: 1.5rem;
}

.btn-bx a {
  padding: 0.8rem 1.8rem;
  border-radius: 0.3rem;
  text-decoration: none;
  font-weight: var(--bold);
}

.btn-bx .chrome {
  background-color: var(--soft-blue);
  color: white;
  margin-right: 1rem;
  border: 2px solid var(--soft-blue);
}

.btn-bx .chrome:hover {
  background-color: white;
  color: var(--soft-blue);
  transition-duration: 300ms;
}

.btn-bx .firefox {
  background-color: white;
  color: var(--dark-blue);
  box-shadow: 0 4px 8px rgba(145, 148, 161, 0.3);
  border: 2px solid white;
}

.btn-bx .firefox:hover {
  border: 2px solid var(--dark-blue);
  transition-duration: 300ms;
}

#feature {
  max-width: var(--desktop-width);
  margin: 2rem auto;
  text-align: center;
}

.ft-title,
.ft-text-bx .ft-text-bx-title {
  display: block;
  color: var(--dark-blue);
  font-weight: var(--bold);
  font-size: 2rem;
  margin-bottom: 1.7rem;
}

.ft-desc {
  width: 44%;
  margin: auto;
  color: var(--grayish-blue);
  font-weight: var(--light);
  font-size: var(--size);
  line-height: 1.8rem;
}

#tabs {
  max-width: var(--desktop-width);
  margin: 2rem auto;
}

.tab {
  width: 60%;
  text-align: center;
  margin: 3rem auto;
}

.tab .links {
  padding: 1rem 2rem;
  margin: 0 0.2rem;
  background-color: transparent;
  border: none;
  color: var(--dark-blue);
  font-weight: var(--light);
  cursor: pointer;
  font-size: 1rem;
}

.tab .active {
  border-bottom: 3px solid var(--soft-red);
  color: var(--dark-blue);
}

.tab .links:hover {
  color: var(--soft-red);
}

.tabcontent-bx {
  max-width: var(--desktop-width);
  padding: 0 3rem;
}

.tabcontent {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 7rem;
}

.ft-text-bx {
  width: 45%;
  margin-top: 3rem;
}

.ft-text-bx .ft-text-bx-desc {
  margin: auto;
  color: var(--grayish-blue);
  font-weight: var(--light);
  font-size: var(--size);
  line-height: 1.8rem;
}

.ft-text-bx-btn {
  margin-top: 3rem;
}

.ft-text-bx-btn a {
  padding: 0.8rem 1.8rem;
  border-radius: 0.3rem;
  text-decoration: none;
  font-weight: var(--bold);
  color: white;
  background-color: var(--soft-blue);
  border: 2px solid var(--soft-blue);
}

.ft-text-bx-btn a:hover {
  background-color: white;
  color: var(--soft-blue);
  transition-duration: 300ms;
}

#downloads,
#faq {
  max-width: var(--desktop-width);
  margin: 9rem auto;
  text-align: center;
}

.dw-title,
.faq-title {
  display: block;
  color: var(--dark-blue);
  font-weight: var(--bold);
  font-size: 2rem;
  margin-bottom: 1.7rem;
}

.dw-desc,
.faq-desc {
  width: 44%;
  margin: auto;
  color: var(--grayish-blue);
  font-weight: var(--light);
  font-size: var(--size);
  line-height: 1.8rem;
}

.cus-card-bx {
  margin: 3rem auto;
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.cus-card {
  padding: 2rem 0;
  height: 320px;
  width: 250px;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(145, 148, 161, 0.3);
}

.cus-card-text-bx .cus-card-title {
  font-weight: var(--bold);
  color: var(--dark-blue);
  font-size: var(--size);
  margin-bottom: 0.6rem;
}

.cus-card-text-bx .cus-card-text {
  font-size: 13px;
  color: var(--grayish-blue);
}

.cus-card-btn-bx a {
  text-decoration: none;
  padding: 0.5rem 1.8rem;
  background-color: var(--soft-blue);
  color: white;
  border: 2px solid var(--soft-blue);
  border-radius: 0.3rem;
  font-size: 14px;
  transition-duration: 300ms;
}

.cus-card-btn-bx a:hover,
.faq-btn a:hover {
  background-color: white;
  color: var(--soft-blue);
}

.accordion {
  width: 50%;
  margin: 3rem auto;
}

.accordion-header button {
  color: var(--dark-blue);
}

.accordion-header button:hover {
  color: var(--soft-red);
}

.accordion-header button:focus {
  background-color: transparent;
  box-shadow: none;
}

.accordion-header button::after {
  color: var(--soft-red);
}

.accordion-body {
  text-align: left;
  color: var(--grayish-blue);
  font-size: 15px;
  line-height: 2rem;
}

.faq-btn {
  margin-top: 4rem;
}

.faq-btn a {
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  background-color: var(--soft-blue);
  color: white;
  border: 2px solid var(--soft-blue);
  border-radius: 0.3rem;
  font-size: 14px;
  font-weight: var(--bold);
  transition-duration: 300ms;
}

#news-letter {
  background-color: var(--soft-blue);
}

.news-letter-content {
  padding: 3rem 0;
  margin: 0 auto;
  max-width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

.nl-text {
  margin: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 14px;
  font-weight: var(--light);
}

.nl-title {
  font-size: 2rem;
  font-weight: var(--bold);
  margin: 0 0 2rem 0;
  line-height: 2.6rem;
}

.input-bx {
  width: 100%;
  padding: 0 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-bx input {
  outline: none;
  border: 2px solid white;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
}

.input-bx input:focus {
  border: 2px solid var(--soft-red);
}

.input-bx input::placeholder {
  color: var(--grayish-blue);
}

.input-bx button {
  background-color: var(--soft-red);
  border: 2px solid var(--soft-red);
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
  transition-duration: 300ms;
  font-weight: var(--bold);
  color: white;
}

.input-bx button:hover {
  color: var(--soft-red);
  background-color: white;
}

#footer {
  background-color: var(--dark-blue);
  color: white;
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bx {
  display: flex;
}

.footer-links {
  margin-left: 3rem;
}

#footer ul {
  display: flex;
  gap: 3rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#footer ul li {
  transition-duration: 300ms;
}

#footer ul li:hover {
  cursor: pointer;
  color: var(--soft-red);
}

.sm-bx {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.sm-bx svg:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menu-bx {
    display: none;
  }

  #hero {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  #hero img {
    width: 270px;
  }
}
